.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.netlify

# Don't lint external libraries
src/lib/util/external

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
